<script type="text/javascript" src="/googlespreadsheet.js"></script>
<div id="eventos">
	<% if @criarInscricao %>
	<div class="col-md-6">
		<h2>Criar formulário de inscrição ?</h2>

		<select id="tipoPergunta" class="form-control">
		  <option value="normal" selected >Pergunta de resposta aberta</option>
		  <option value="multipla" >Pergunta de escolha multipla</option>
		</select>


		<div id="normalDiv" class="form-group">
		    <label for="Pergunta">Pergunta</label>
		    <input type="text" class="form-control" id="perguntaNormal" placeholder="Pergunta">
		</div>

		<div id="multiplaDiv">
			<div>
				<label for="Pergunta">Pergunta</label>
			    <input type="text" class="form-control" id="perguntaMultipla" placeholder="Pergunta">
			    <label for="">Opcão 1</label>
			    <input type="text" class="form-control" id="opcao1" placeholder="">
			    <label for="">Opcão 2</label>
			    <input type="text" class="form-control" id="opcao2" placeholder="">
			    <div id="novasOpcoes">
			    	
			    </div>
		    </div>
		    <button class="btn btn-default" id="adicionarOpcao" type="button">Adicionar Opcão</button>
			<button class="btn btn-default" id="removerOpcao" type="button">Remover Opcão</button>
		    <div class="checkbox">
			    <label>
			      <input type="checkbox" id="variasRespostas"> Permitir várias respostas
			    </label>
			 </div>
		</div>

		<button class="btn btn-default" id="adicionar" type="button">Adicionar Pergunta</button>
		<button class="btn btn-default" id="remover" type="button">Remover última Pergunta</button>

		<br>
		<form id="criarSpreadsheet" action="" method="POST">
			<input class="btn btn-default" type="submit" value="Concluir">
		</form>
		<div id="novaSpreadsheet"></div>
	</div>
	<div class="col-md-6">
		<h2>Preview</h2>
		<div id="preview">
			
		</div>
	</div>
	<% elsif @isPromoter %>
		<h2>Ver inscrições</h2>
		<button class="btn btn-default" id="carregarDados"> Carregar dados spreadsheet </button>
		<div id="link" ></div>
		<br>
		<div id="spreadsheet"></div>
	<% end -%>
	<% if !@criarInscricao && @event.docsID.present? %>
	<h2> Formulário de inscrição </h2>
	<form id="enviaDados" action="" method="POST">
		<div>
			
		</div>
		<input class="btn btn-default" type="submit" value="Inscrever">
	</form>
	<% end -%>
	<br>
</div>