<script type="text/javascript" src="/googlespreadsheet.js"></script>
<h2>Criar spreadsheet</h2>

<form action="" method="POST">
	<label>Nome: <input name="nome" type="text" value="" /></label>
	<br>
	<input type="submit">
</form>

<h2>Inserir dados numa spreadsheet</h2>
<form action="" method="POST">
	<label>Nome: <input name="nome" type="text" value="" /></label>
	<br>
	<input type="submit">
</form>

