body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-weight: 200;
}
#wrapper {
    width: 100%;
    background-color: #2A2B2D;
}

#page-wrapper-homepage {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f6f6f6 ;
}

@media(min-width:768px) {
    #page-wrapper-homepage {
        position: inherit;
        margin: 0 0 0 250px;
        /*padding: 0 30px;*/
        border-left: none;
    }
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f6f6f6 ;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        /*margin: 0 0 0 250px;
        padding: 0 30px;*/
        border-left: none;
    }
}

.navbar-top-links a {
    color: #B7B7B7;
}


.navbar-top-links>li>a:hover, a:focus {
    color: white;
    background-color: #484b50;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #484b50;
}

.navbar-default {
    background-color: #2a2b2d;
    border: none;
}

.navbar-top-links {
    padding-right: 20px;
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    color: white;
    padding: 15px;
    min-height: 50px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #484b50 ;
}

.navbar-top-links .dropdown-menu>li>a {
    color: #2a2b2d ;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}


.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid rgb(47, 47, 47);
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        /* margin-top: 51px; */
    }
}

.form-control:focus {
    border-color: #1aa69b ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #1aa69b;
    outline: 0 none;
}

.nav#side-menu>li>a:hover, a:active, a:visited  {
    background-color: #484B50;

}

.nav#side-menu a{
    font-weight:600;
    color: white;
}

.nav-second-level>li>a:hover, a:active, a:visited {
 color: #2A2B2D;
 background-color: #1AA69B;
}


.col-lg-12#slideshow {
    padding-right: 0px;
    padding-left: 0px;
}

.signin {
    border-color: #484b50 ;
    font-style: italic;
    font-weight: 400;
    color: #2a2b2d ;
    background-color: #1aa69b;
}

#eventos {
    padding-top: 15px;
    padding-left: 10px;
}

#newevento {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


#btn-lgg-1 {
    margin-bottom: 20px;
    border-color: #2a2b2d;
    outline: 0 none;
    padding: 6px 60px;
    background-color: #2a2b2d ;
}
#btn-lgg-2 {
    margin-bottom: 20px;
    border-color: #1AA69B;
    outline: 0 none;
    padding: 6px 54px;
    background-color: #1AA69B ;
}

#btn-lgg:hover {
 border-color: #1aa69b ;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fff;
 outline: 0 none;
}

.bs-glyphicons {
    margin: 0 0 20px;
    overflow: hidden
}

.bs-glyphicons-list {
    list-style: none
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #1aa69b;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0
    }
    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px
    }
}

.alert {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.notice {
    margin: 0;
}
.alert-warning {
    color: #2a2b2d ;
    background-color: #ececec ;
    border: 0px;
}

.input-group {
    padding-bottom: 15px;
    backgroun-color: red;
    
}

.navbar-text{
    margin-bottom: 0;
}



/***NOVO*****/
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.row #embed{
    margin-left: 0;
    margin-right: 0;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}


.navbar-top-links>li>a:hover,
a:focus {
    text-decoration: none;
    color: #1AA69B;
    background-color: none;
    font-weight: bold; 
}

.navbar-top-links>li>a {
    font-weight: bold; 
}

.nav#side-menu>li>a:hover,
a:active,
a:visited {
    text-decoration: none;
    background-color: none;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    text-decoration: none;
}

.top-buffer { margin-top:1em; }

.embed-responsive-4by3 {
    padding-bottom: 25%;
}

.modal{
    padding-top: 100px;
}

.modal-content{
    background: transparent;
}

.modal-header {
    padding:9px 15px;
    border:none;
    background-color: rgba(26,166,155,0.5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.modal-body{
    background-color: rgba(28,29,34,0.95);
}

.modal-footer{
    background-color: rgba(42 ,43,48,0.95);
    border:none;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomrightleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 60px;
}


.box {
    text-align: center;

    
}
.box h2 {color:white;padding:10px;}
.box p {color:white;padding:10px;}

.box {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}


#btn_promoter_user
{ 
    background-color: #2A2B2D;
    border-color: #1AA69B;
    float: right;
    margin-right:  15px;
}

#modalButon
{
    background-color: #2A2B2D;
    border-color: #1AA69B;
    float: right;
    
}

#promoter_forms
{
    padding-bottom: 200px; 
    padding-top: 100px; 
    padding-right: 50px; 
    padding-left: 50px; 
}

#basic-addon1
{
    color: #1AA69B;
    background-color: #2A2B2D;
    border: none;
}

#basic-addon1 .fa{
    width: 1em;
}

input#name, input#institution, input#website, input#contact, input#user_email, input#user_password, input#first_name , input#last_name
{
    background-color: #2A2B2D;
    border-color: #1AA69B;
}

#myModalLabel{
    color: white;
}



/* NEW EVENT*/


.input-group {
    padding-bottom: 10px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    /*font-size: 12px;*/
}

.mrg-bottom
{
    margin-bottom: 30px;
}

.dropdown-menu>li>a {
    color: #f1f1f1;
}

/*.thumbnail {
    padding-left: 15px;
    float:left;
    padding-right: 15px;
    margin-bottom: 0px;
    }*/



    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #1AA69B;
  }
/*
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
*/
.container .text-muted {
    color: #f1f1f1;
    margin: 20px 0;
}


.page h2 {color:#2A2B2D;padding:10px;}
.page p {color:#1AA69B;padding:10px;}

.page {
    background-color: white;   
    text-align: center;
    
}

.ambiente
{
 text-align: left;
 padding-left: 100px;
}

.musica
{
 text-align: left;
 padding-left: 100px;
}

.tipos
{
 text-align: left;
 padding-left: 100px;
}

/* GOOGLE MAPS */
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
.invertscale {
    -webkit-filter: invert(100%); filter: invert(100%);
}

#btn-sm{
   margin-bottom: 20px;
   border-color: #2a2b2d ;
   outline: 0 none;
   background-color: #2a2b2d  ;
}
/*alterações mj !!!!! alterar thumbnail acima!!*/
.row#aviso {
    padding-top: 1em;
    padding-bottom: 1em;
}

#eventos {
    /* apagar #eventos acima */
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

/* carousel events @begin */
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel #carEventos{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.carousel-control {
    width: 5%;
}

/* Reposition the controls slightly */
.carousel-control .glyphicon-circle-arrow-left, 
.carousel-control .glyphicon-circle-arrow-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-color: transparent;
}
#carEventos .carousel-indicators {
    bottom: -20px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    border: 2px solid rgba(42,43,45, 0.5);
    background: rgba(255, 255, 255, 0.2);
}

.carousel-indicators .active {
    background: #1AA69B;
}

.categorias {
    padding-bottom: 10px;
}

.categorias p {
    padding-top: 5px;
    font-size: 10px;
}

.maps-buttons, .maps-select {
    padding-bottom: 1em;
}

.glowing-border form input {
    background-color: white;
    border: 2px solid #dadada;
    border-radius: 7px;
    border-style: none;
}

.glowing-border form input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #1AA69B;
}


.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home-events {
  text-align: center;
  padding: 10px 0 20px;
  background: #f0f5f6;
}

.home-events h2 {
    font-weight: normal;
}

.home-events .common-event {
  background-color: #fff;
}
.home-events .common-event figure {
  overflow: hidden;
  width: 100%;
}

.home-events img {
    width: 100%;
    height: auto;
}

.home-events .common-event h5 {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}

.home-events .common-event .text-content {
  padding: 19px 14px 13px;
}

.home-events .common-event h5 small {
    color: #1AA69B;
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
}

.home-events .common-event ul{
    list-style-type: none;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    margin-top: -28px;
    text-align: center;
    margin-top: 10em;
    opacity: 0;
    z-index: 1;   
}

.hover-list>li>a {
    color: #3a3c41;
}

.hover-list>li>a:focus {
    background-color: transparent; 
}

.hover-list {
    padding-left: 0;
}

.home-events .common-event li {
    padding-bottom: 10px;
}

.home-events .common-event li a {
    padding-left: 0.75em;
    padding-right: 0.75em;
}


.doc-img{
 /* Webkit for Chrome and Safari */
 -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
 -webkit-transition-duration: 500ms;
 -webkit-transition-timing-function: ease-out;

 /* Webkit for Mozila Firefox */
 -moz-transform: scale(1, 1);
 -moz-transition-duration: 500ms;
 -moz-transition-timing-function: ease-out;

 /* Webkit for IE( Version: 11, 10 ) */
 -ms-transform: scale(1, 1);
 -ms-transition-duration: 500ms;
 -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
 /* Webkit for Chrome and Safari */
 -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
 -webkit-transition-duration: 500ms;
 -webkit-transition-timing-function: ease-out;

 /* Webkit for Mozila Firefox */
 -moz-transform: scale(1.2, 1.2);
 -moz-transition-duration: 500ms;
 -moz-transition-timing-function: ease-out;

 /* Webkit for IE( Version: 11, 10 ) */
 -ms-transform: scale(1.20, 1.20);
 -ms-transition-duration: 500ms;
 -ms-transition-timing-function: ease-out;

 opacity: 0.3;
}

.doc-item:hover .hover-list{
    margin-top: -2em;
    opacity: 1;
}

.nav .img-responsive {
    display: initial;
    padding-right: 5px;
}

.panel-body {
    margin-left: 15px;
}

/* MODALS */

.form_row i{
  color: rgba(26,166,155,0.8);
}

input[type='radio'] {
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border-radius:100%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:rgba(26,166,155,0.6);
}

.form_row select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.form_row select {
    padding:2px;
    margin: 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:2px;
    -webkit-box-shadow: 0 3px 0 #989898, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 rgba(26,166,155,0.4), 0 -1px rgba(26,166,155,0.8) inset;
    background: rgba(42 ,43,48,0.6);
    color:#989898;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.form_row label {position:relative}
.form_row label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.form_row label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#989898;
    position:absolute;
    pointer-events:none;
    display:block;
}

#promoter_forms {
  background: url("fundo1.jpg") center fixed; 
  
  width:100%;
  height: auto
}

.row#show-evento {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-title {
    color: white;
}

.yt {
    padding-left: 15px;
    padding-right: 15px;
}

.spo {
    padding-bottom: 1em;
}

.classi {
    padding-bottom: 20px;
}

.centerBlock {
    display: inline-flex;
    margin: 0 auto;
    padding-top: 2em;

}

.btn-pref {
    padding: 5px 15px;
}

.checkbox {
    color: white;
}

.page-show#page-wrapper {
    color: white;
    background-color: #1F1F1F;
}

.page-show h1, .page-show h2, .page-show h3, .page-show h4 {
    color: white;
}

.page-show a {
    color: white;
}

.page-show .thumbnail {
    background-color: #282828;
    border-radius: 0;
    border: 0;
}

.page-show .panel-default > .panel-heading {
    background-color: #282828; 
}

.panel-group .panel  {
    border-radius: 0;
    border: 0;
    background-color: transparent;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0;
}


.gllpMap { width: 100% !important; height: 300px; }

a:hover {
    text-decoration: none;
}

.panel-title a:hover, a:focus {
    text-decoration: none;
    color: #D0D0D0;
    background-color: #282828;
    font-weight: normal;
}

.thumbnail .caption {
    color: white;
}

#show-evento .thumbnail .caption h5 ul {
    list-style-type: none;
    margin-top: 0.5em;
    margin-left: 0; padding-left: 0;
}

#show-evento .thumbnail .caption h5 ul li {
    padding-bottom: 10px;
}

#show-evento .thumbnail .caption h4 {
    padding-bottom: 10px;
}

/* second */

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.cat{
  border-bottom: none;
  margin-bottom: 0px;
}

#btnAdd
{
  float:right;
  background-color: rgba(26,166,155,0.8);
}

#btnAdd .fa
{
  background-color: white;
}

#btnDel{
  float:right;
  margin-left: 2px;

}

.divider{
    width:1px;
    height:auto;
    display:inline-block;
}

#sub{
    background-color: #2A2B2D;
    border-color: #1AA69B;
    color: white;
}

.input-group-addon {
  background-color: #1AA69B;
  color: white;

}


.cke_toolbar
{
   color: #1AA69B;
}

.gllpSearchButton{
  background-color: #2A2B2D;
    border-color: #1AA69B;
    float: right;
    color: white;
}

.fileUpload{
    background-color: #1AA69B;
    border-color: #1AA69B;
    color: white;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    
}

.cat select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.cat select {
    padding:2px;
    margin: 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:2px;
    -webkit-box-shadow: 0 3px 0 #989898, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 rgba(26,166,155,0.4), 0 -1px rgba(26,166,155,0.8) inset;
    background: rgba(42 ,43,48,1);
    color:white;
    border:none;
    outline:none;
    display: inline-block;
    text-align: center;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


