body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-weight: 200;
}
#wrapper {
    width: 100%;
    background-color: #2A2B2D;
}

#page-wrapper-homepage {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f6f6f6 ;
}

@media(min-width:768px) {
    #page-wrapper-homepage {
        position: inherit;
        margin: 0 0 0 250px;
        /*padding: 0 30px;*/
        border-left: 1px solid grey;
    }
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f6f6f6 ;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        /*margin: 0 0 0 250px;
        padding: 0 30px;*/
        border-left: 1px solid grey;
    }
}

.navbar-top-links a {
    color: #B7B7B7;
}


.navbar-top-links>li>a:hover, a:focus {
    color: #fff;
    background-color: #484b50;
}

.navbar-default {
    background-color: #2a2b2d;
    border: none;
}

.navbar-top-links {
    padding-right: 20px;
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    color: white;
    padding: 15px;
    min-height: 50px;
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #484b50 ;
}

.navbar-top-links .dropdown-menu>li>a {
    color: #2a2b2d ;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}


.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid rgb(47, 47, 47);
}

.sidebar ul li a.active {
    background-color: #2a2b2d ;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
       /* margin-top: 51px; */
    }
}

.form-control:focus {
    border-color: #1aa69b ;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #1aa69b;
  outline: 0 none;
}

.nav#side-menu>li>a:hover, a:active, a:visited  {
    background-color: #484b50 ;
}

.nav#side-menu a{
    font-weight:600;
    color: white;
}

.nav-second-level>li>a:hover, a:active, a:visited {
    color: #2a2b2d;
    background-color: #1aa69b;
}

.col-lg-12#slideshow {
    padding-right: 0px;
    padding-left: 0px;
}

.carousel-controls {
    background-color: none;
    box-shadow: none;
}

.signin {
    border-color: #484b50 ;
    font-style: italic;
    font-weight: 400;
    color: #2a2b2d ;
    background-color: #1aa69b;
}

#eventos {
    padding-top: 15px;
    padding-left: 10px;
}

.thumbnail{
    position:relative;

}

#btn-lgg {
    margin-bottom: 20px;
    border-color: #2a2b2d;
    outline: 0 none;
    padding: 6px 97px;
    background-color: #2a2b2d ;
}


#btn-lgg:hover {
     border-color: #1aa69b ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fff;
    outline: 0 none;
}

.bs-glyphicons {
    margin: 0 0 20px;
    overflow: hidden
}

.bs-glyphicons-list {
    list-style: none
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #1aa69b;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0
    }
    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px
    }
}

.alert {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.notice {
    margin: 0;
}
.alert-warning {
    color: #2a2b2d ;
    background-color: #ececec ;
    border: 0px;
}

.input-group {
    padding-bottom: 10px;
}

.navbar-text{
    margin-bottom: 0;
}



/***NOVO*****/
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.row #embed{
    margin-left: 0;
    margin-right: 0;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}


.navbar-top-links>li>a:hover,
a:focus {
    text-decoration: none;
    color: #1AA69B;
    background-color: none;
    font-weight: bold; 
}

.nav#side-menu>li>a:hover,
a:active,
a:visited {
    text-decoration: none;
    background-color: none;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    text-decoration: none;
}

.top-buffer { margin-top:1em; }

.embed-responsive-4by3 {
    padding-bottom: 25%;
}