Teste DB CONNECTION
<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th colspan="3"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
    </tr>
  <% end %>
</table>