<p>
  <strong>name:</strong>
  <%= @event.name %>
</p>
 
<p>
  <strong>descrition:</strong>
  <%= @event.descrition %>
</p>
 
<h2>Links youtube</h2>
<% @event.youtube.each do |link| %>
  <p>
    <strong>LINK:</strong>
    <%= link.videoID %>
  </p>
<% end %>