#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
url --url="http://ftp.up.pt/CentOS/7/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=pt --xlayouts='pt'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.58.254 --ip=192.168.58.60 --nameserver=193.136.28.10 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=ldso-01.fe.up.pt
# Root password
rootpw --iscrypted $6$EHKwkxTaINqdxnmg$nTTDvDlV.CI4qe8AaXy1DGWp7KxCAb.i5lo/sBDYTTuBLz6VJYz8dCq1r.ZMKvPy8rvf/8Xbelu2k.JFyq0T5/
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Lisbon --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel 
# Disk partitioning information
part pv.123 --fstype="lvmpv" --ondisk=vda --size=19979
part /boot --fstype="xfs" --ondisk=vda --size=500
volgroup centos_ldso-01 --pesize=4096 pv.123
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos_ldso-01
logvol swap  --fstype="swap" --size=2047 --name=swap --vgname=centos_ldso-01

%packages
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
