<script src="/addColaborador.js"></script>

<div class="container">
    <div class="jumbotron">
        <%= form_for @convite, :url => '/colaborator' do |c| %>
            <h2>Convidar Colaborador<h2>

            <div class="form-group">
              <%= email_field_tag :email, "", class: 'form-control', :placeholder => 'Email' %>
            </div>
            <div class="form-group">
              <%= text_area_tag :convite, "", class: 'form-control', :placeholder => 'Adicione uma mensagem ao convite' %>
            </div>

            <%= c.submit 'Convidar', :class => 'btn btn-primary active pull-right' %>
        <% end %>
    </div>
</div>